body{
    background-color:#E83151;
    color:snow;
    font-family: 'Varela Round', sans-serif;
    font-size: 20px;
    font-weight: bolder;
    padding: 30px;
}

#button {
    background-color: black;
    color:white;
    font-size: 18px;
    padding: 5px;

}
.question {
    color: ;
}

