/* body {
    
} */

.container {                                    /*width of page*/
    width: 500px;
    margin: 0 auto;
    background-color: blueviolet;
    padding: 20px;
}

.question {
    margin-bottom: 20px;
}